$font_stack: italic;
$font_color: rgb(216, 165, 165);
$font_size_one: 35px;


@mixin shape {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

@mixin align {
    margin: 0 auto;    
}

.one {
    color: $font_color;
    font-style: $font_stack;
    font-size: $font_size_one;
    border: 1px solid black
}

.one {
    .two{
        @include shape;
        @include align;
    }
    .three {
        @extend .two;
        color:chartreuse;
    }
}

